<?xml version="1.0"?>
<model>
  <name>hnuter</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>hnuter</name>
   <email>hnuter@example.com</email>
  </author>

  <description>
    This is a model for a tiltrotor UAV with hnuter configuration.
  </description>
</model>